.App {
  font-family: sans-serif;
  text-align: center;
}

.breadcrumb {
  margin-top: 10px;
  font-weight: bold;
}

.breadcrumb span {
  margin-right: 5px;
}

.App select {
  padding: 5px;
  margin-bottom: 20px;
}
